:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: url(../assets/farm3.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: flex;
}

.farmer-container {
    width: 100%;
    text-align: center;
}

.farmer {
    margin-top: 200px;
}

h2 {
    color: crimson;
    background-color: black;
    border-radius: 5%;
    width: 300px;
    height: 55px;
    text-align: center;
    margin-left: 50px;
    font-size: 42px;
}
h1 {
    margin-left: 50px;
    font-size: 48px;
}
#text-box {
    width: 200px;
    height: 50px;
    background-color: white;
    margin-top: 25px;
}
.kids-container {
    width: 40%;
    background-color: rgb(27, 176, 27);
    text-align: center;
    margin-top: 20px;
    height: 100px;
    margin-right: 30px;
}
main {
    width: 100%;
}
.kid {
    background-color: darkorchid;
    height: 70px;
    width: 250px;
    border-radius: 5%;
    text-align: center;
    display: flex;
    margin-top: 100px;

    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 34px;
    justify-content: center;
}
p {
    line-height: 5px;
}
#button {
    width: 120px;
    height: 50px;
    font-size: 24px;
    padding-bottom: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.crooked {
    transform: rotate(-90deg);
}
